from textual.app import App

class TUI(App):
    CSS = """
    Screen {
        layers: base overlay notifications;
    }

    ModeLine {
        dock: bottom;
        width: 100%;
        height: 1;
        border: none;
        background: $modeline;
        color: $text;
        padding: 0 1;
    }
    """