name: Pull Request Test Runner

on:
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python with Caching
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip' # Caches dependencies based on the requirements file
        cache-dependency-path: 'requirements.txt'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r path/to/requirements-file.txt; fi

    - name: Run Test Script
      env:
        API_KEY: ${{ secrets.FAKE_API_SECRET_NAME }}
      run: |
        python src/corelauto_testing.py -c src/tests
